<html>
   <head>
    <meta title="generator" content="content" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="bootstrap-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link id="bootstrap-theme-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
  </head>
   <body>
     <!-- page header -->
     <div class="page-header"> <h3>Passwords</h3></div>
     <!-- page header end -->
     <table class="table table-striped">
       <thead>
         <tr>
           <td>Domain</td>
           <td>Username</td>
           <td>Password</td>
           <td>Created</td>
           <td>Expired</td>
         </tr>
       </thead>
       <tbody id="password-list">
         <tr class="pw-item">
           <td class="pw-domain">https://topiq.es</td>
           <td class="pw-username">eve</td>
           <td class="pw-password">****</td>
           <td class="pw-created-at">today</td>
           <td class="pw-expired">in 2 weeks</td>
         </tr>
       </tbody>
     </table>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   </body>
</html>
