<html>
   <head>
    <meta title="generator" content="content" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="bootstrap-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link id="bootstrap-theme-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
  </head>
   <body>
     <!-- page header -->
     <div class="page-header"> <h3>Passwords <button class="btn btn-primary pull-right" id="new-pw-btn" data-toggle="modal" data-target="#new-pw-modal">Create</button>
       </h3>
     </div>
     <!-- page header end -->
     <table class="table table-striped">
       <thead>
         <tr>
           <td>Domain</td>
           <td>Username</td>
           <td>Password</td>
           <td>Url</td>
         </tr>
       </thead>
       <tbody id="password-list">
         <tr class="pw-item">
           <td class="pw-domain">https://topiq.es</td>
           <td class="pw-username">eve</td>
           <td class="pw-password">****</td>
           <td class="pw-url">****</td>
         </tr>
       </tbody>
     </table>

     <!-- new password modal -->
    <div class="modal fade" id="new-pw-modal" tabindex="-1" role="dialog" aria-labelledby="login-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="new-pw-modal-title">New Password Entry</h4>
          </div>
          <div class="modal-body">
            <input class="form-control" type="text" id="pw-url-input" placeholder="Url"></input>
            <br>
            <input class="form-control" type="text" id="pw-username-input" placeholder="Username"></input>
            <br>
            <input class="form-control" type="password" id="pw-password-input" placeholder="Password"></input>
            <br>
          </div>
          <div class="modal-footer">
            <button type="button" id="modal-new-pw-btn" class="btn btn-primary" data-dismiss="modal">Create!</button>
          </div>
        </div>
      </div>
    </div>
    <!-- new password modal end -->

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   </body>
</html>
